@import 'nextra-theme-blog/style.css';
@import 'tailwindcss';

@theme {
}

.headline {
  display: inline-flex;
  font-size: min(3.2rem, max(8vw, 2.5rem));
  font-weight: 700;
  font-feature-settings: initial;
  letter-spacing: -0.12rem;
  margin-left: -0.2rem;
  line-height: 1.1;
  background-image: linear-gradient(146deg, #000, #757a7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0;
}
.dark .headline {
  background-image: linear-gradient(146deg, #fff, #757a7d);
}
